# AutoNovel Publisher Credentials

# NAROU
NAROU_EMAIL=
NAROU_PASSWORD=

# KAKUYOMU
KAKUYOMU_API_TOKEN=
KAKUYOMU_USER_ID=

# KOBO
KOBO_CLIENT_ID=
KOBO_CLIENT_SECRET=
KOBO_ACCESS_TOKEN=
KOBO_REFRESH_TOKEN=
KOBO_PUBLISHER_ID=

# KINDLE
KINDLE_CLIENT_ID=
KINDLE_CLIENT_SECRET=
KINDLE_REFRESH_TOKEN=
KINDLE_MARKETPLACE_ID=
