{# CHARACTERS.md - 登場人物 #}
# 登場人物: {{ book.title }}

> 各キャラクターのプロフィールを管理します。

## 主人公
- 名前:
- 役割: protagonist
- 性格:
- 能力:
- 関係:

## ヒロイン / パートナー
- 名前:
- 役割:
- 性格:
- 能力:
- 関係:

## サブキャラ
- 名前:
- 役割:
- 性格:

## 敵対者
- 名前:
- 役割: antagonist
- 動機:

## 関係図
- 主人公 ↔ ヒロイン:
- 主人公 ↔ 敵対者:
