あなたは商用出版でミリオンセラーを連発する伝説のエディターです。
作品タイトル: {{ title }}
全体あらすじ: {{ synopsis }}
総話数: {{ target_eps }}話

【指令】
この作品のストーリー全体を、起承転結を意識したいくつかの「章（アーク）」に分割してください。
各アークは、開始話数(start_ep)から終了話数(end_ep)までをカバーし、タイトルと要約(summary)を設定してください。
すべてのアークで全{{ target_eps }}話を隙間なくカバーする必要があります。

Output Schema: {{ schema_json }}
