【作品タイトル】: {{ title }}
【現在執筆中の話数】: 第{{ ep_num }}話

{{ extra_instruction }}

{{ constraints }}【これまでのあらすじ】
{{ prev_ctx }}

【静的キャラクター情報】
{{ static_ctx }}

【動的キャラクター状態】
{{ dyn_ctx }}

【本話のプロット設計図】
{{ blueprint }}

上記の情報を踏まえ、第{{ ep_num }}話の本文を執筆してください。