【🚨禁忌語・強制置換🚨】
「{{ forbidden_word }}」の使用を禁ずる。代わりに {{ replacement_word }} を用いて具体化せよ。

【🚨あらすじ的記述の禁止🚨】
「{{ summary_forbidden_pattern }}」のような要約的表現を禁ずる。
{{ summary_replacement_instruction }}

物語を『あらすじ』のように語るな。キャラの視界から出るな。
